<script>
  import { onMount } from "svelte";

  // Variablen
  let greeting = "Hier soll der Text stehen";
  let sprache = "Latein";

  // Funktionen
  const buttonClick = () => {
    if (sprache === "Deutsch") {
      greeting = "Hallo!";
    } else if (sprache === "Englisch") {
      greeting = "Hello!";
    } else if (sprache === "Latein") {
      greeting = "Salve!";
    }
  };

  // Start
  onMount(() => {
    buttonClick();
  });
</script>

<main>
  <h1>Sprachen</h1>
  <div>
    <select bind:value={sprache}>
      <option>Deutsch</option>
      <option>Englisch</option>
      <option>Latein</option>
    </select>
  </div>

  <div><button on:click={buttonClick}>Begrüße mich!</button></div>

  <p>{greeting}</p>
</main>

<style>
  select {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
  }
</style>
